<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo tempora fugiat repellat explicabo nam incidunt, repellendus magni delectus modi iste, neque, consectetur libero. Aut consectetur alias debitis fugit culpa, saepe, assumenda mollitia dolor, eum autem eius totam porro quisquam laborum.</p>
    </div>
</div>